---
---

.main {
    border-left: 6px solid #f6f6f6;
    margin-top: -50px;
    margin-bottom: 50px;
}

h1, h2 {
    font-weight: 900;
    margin-left: 20px;
}

h1 {
    padding-top: 60px!important;
}

h2 {
    font-size: 0.7em;
    font-family: inherit;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left!important;
    color: rgba(0,0,0,0.4);
    margin-top: 5em;
}

h3 {
    font-size: 1.5em;
    background-color: #f6f6f6;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    border-radius: 50%;
    margin: 0 0 0 -1.05em;
    padding-top: 0.3em;
}

img {
    max-width: 350px;
    max-height: 475px;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}

ul {
    margin-top: -2.15em;
}

code {
    display: block;
    font-family: inherit;
    font-size: 24px;
    font-weight: 900;
    line-height: 1em;
    color: rgba(0,0,0,.87);
}

@media only screen and (max-width: 767px) {
    .ui.logo.label {
        margin-left: 1.8em;
    }
}