---
---

@import "base";

body {
    margin-top: 1em;
    background-color: white;
}

a {
    color: #00b5ad;
    text-decoration: underline;
    font-weight: 500;
    &:hover {
        color: #009c95;
    }
}

ul.triangle {
    padding: 0 0 0 0.5em;
    li {
        list-style: none;
        &:before {
            font-family: Icons;
            content: "\f0da";
            margin: 0 .4rem 0 0;
            color: rgba(0, 0, 0, 0.2)
        }
    }
}


.embed-video {
    position: relative;
    padding-bottom: 155.75%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}


.post {
    .content {
        max-width: 580px !important;
    }
    .embed-video {
        padding-bottom: 76.75%;
    }
    .box {
        max-width:40px;
    }
    img {
        width:100%;
    }
    ul {
        padding-left: 0em;
        li {
            list-style: none;
            &:before {
                content: '○';
                padding-right: 0.6em;
                font-size: 1em;
                vertical-align: -2px;
                color: #c6e6e2;
            }
        }
    }
    strong {
        font-weight: 700;
    }
    p, ul, blockquote {
        line-height: 1.65em;
        font-size: 17px;
        letter-spacing: -.002em;
        font-weight: 300;
        color: #373d3d;
    }
    blockquote {
        margin: 3em 3.5em 3em 2.8em;
    }
    blockquote p {
        font-style: italic;
        color: #505857;
        font-size: 0.9em;
        line-height: 1.3em;
        text-align: center;
    }
    h2 {
        border-bottom: 1px solid rgba(0,0,0,0.08);
        margin-top: 2em;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        font-size: 1.3em;
        line-height: 1.125;
        font-weight: 300;
        letter-spacing: 0em;
    }
    code {
        padding: 0px 8px 2px 10px;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.74);
        font-weight: 700;
        border: 1px solid #c6e6e2;
        font-style: normal;
        white-space: nowrap;
    }
}



.ui.logo.label {
    margin: 0em 0 1em 4em;
    background-color: white;
    font-weight: 500;
    border: 1px solid #00b5ad;
    color: #00b5ad;
    text-decoration: none;
}

a.segment {
    text-decoration: none;
    display:block;
}
.stripe {
    padding: 1.5em 0em;

    h2.ui.header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin-top: 0.25em;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        &.divider {
            margin-bottom: 0.3em;
        }
    }
    .ui.divider {
        opacity: 0.5!important;
    }
    .ui.cards>.card {
        margin-bottom: 0em;
        background: white;
        border: none;
        &.coming.soon {
            .image {
                background:rgba(189, 189, 189, 0.04);
            }
        }
        &.pop.out {
            background: linear-gradient(45deg, #3d97dc 0%, #55acee 40%, #00b5ad 100%);
             .header, .aka, .extra {
                color: white;
            }
        }
        &.dotted {
            border: 3px dashed rgba(139, 226, 208, 0.51);
            background-color: #fcfbfc;
        }
    }
    .ui.one.cards>.card {
        margin: 0;
    }
}

div.more {
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer {
    padding: 5em 2em!important;
    background-color:#f6f6f6!important;
}

.transparent.cards .card {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.micro.image {
    width: 10px!important;
    height: auto!important;
}

.twitter.icon {
    color: #1da1f2;
}

.attached.labels {
    >:first-child {
        padding-right: 2.5em;
    }
    .tag {
        margin-left: -1em;
    }
}
.block.flex {
    display: flex;
    .flex0 {
        flex: 0 0 auto;
    }
    .flex1 {
        flex: 1 1 auto;
    }
    .padded {
        padding-left: 10px;
    }
}

.sub.info {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.3);
    line-height: initial;
    font-weight: 100;
    a {
        color: rgba(0, 0, 0, 0.3)!important;
        text-decoration: underline;
    }
}

.author.block {
    .avatar.image {
        width: 3em;
        height: 3em;
    }
    a {
        color: #2f2f2f;
        text-decoration: none;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cta.very.long {
    font-size: 0.7em;
    .icon {
        margin-top: -2em!important;
    }
}

div.cta {
    margin: 5em 0 3em 0;
}

@media only screen and (min-width: 767px)  {
    div.cta {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .button.cta.limited.width {
        max-width: 320px;
    }
}

.button.cta, .uppercase {
    text-transform: uppercase!important;
    letter-spacing: .17em;
    font-weight: 500!important;
}

.button.cta {
    color: #fff;
    margin-top: 0.5em;
    font-weight: 500;
    padding: 1.2em 0.5em;
}

.highlighted {
    background-color: #fff173;
    padding: 3px 10px 7px 10px;
}

.extra {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: rgba(0,0,0,.4);
}

.right.aligned {
    text-align: right;
}

.right.floated {
    float: right;
}

.light.header {
    &.weight {
        font-weight: 300!important;
        margin-top:0;
        margin-bottom:0;
    }
    &.color {
        color: rgba(0, 0, 0, 0.4);
    }
}

@media only screen and (max-width: 767px) {
    .mobile.overflow.x {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        // Fake right margin working on overflow:
        &:after {
            content: "";
            display: flex;
            min-width: 4%;
            height: initial;
        }
        .ui.card {
            min-width: 140px;
            @media only screen and (max-width: 767px) {
                & {
                    margin-bottom: 8px;
                    &:first-child {
                        margin-left: 6%!important;
                    }
                }
            }
            @media only screen and (max-width: 345px) {
                min-width: 125px;
            }
            @media only screen and (min-width: 450px) {
                min-width: 180px;
            }
            @media only screen and (min-width: 570px) {
                min-width: 230px;
            }
            @media only screen and (min-width: 700px) {
                min-width: 270px;
            }
        }
    }
    .footer {
        padding: 2em 0.1em!important;
        .ui.small.horizontal.list>.item {
            font-size: 0.7em!important;
        }
    } 
    .ui.card .meta.very.long {
        font-size: 0.66em;
    }
    .author.block {
        .bio {
            font-size: 0.9em;
        }
        .avatar.image {
            margin-top: 0.25em;
            width: 2.3em;
            height: 2.3em;
        }
    }
    .computer.only {
        display: none!important;
    }
    .extra {
        font-size: 0.7em;
        margin-bottom: 0;
    }
    .tiny.button {
        font-size: .75rem!important;
    }
    .sub.info {
        font-size: 0.7em;
    }
    h2.ui.header {
        font-size: 1.3rem;
        margin-bottom: 0.45em!important;
    }
    h3.header {
        font-size: 1rem;
    }
    .ui.cards {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .headlines {
        padding: 0 1em 1em 1em;
        h1.ui.header {
            margin-top: 0.6em;
            font-size: 1.6rem;
        }
    }
    .stripe {
        padding-top: 1.3em;
        h2.ui.header {
            border-bottom: none;
        }
    }
    h2, h3, .mobile.center {
        text-align: center;
    }
    .block.flex {
        .padded {
            padding-left: 3px;
        }
    }
}
