---
---

@import "base";

body {
    margin-top: 2em;
   background-color: #f6f6f6;
}

.fixed.bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    z-index: 100;
    width: 100%;
    padding-top: 3em;
}

a {
    color: #00b5ad;
    font-weight: 500;
    &:hover {
        color: #009c95;
    }
    .content & {
        text-decoration: underline;
    }
}

form {
    margin-bottom: 0.7em;
}

h3 {
    a {
        color: inherit;
        font-weight: inherit;
        &:hover {
            color: inherit;
        }
    }
    .button {
        box-shadow: none !important;
        padding: 0.4em 1em 0.45em !important;
    } 
}

.ui.button small {
    font-weight: 500;
}

ul.triangle {
    padding: 0 0 0 0.5em;
    li {
        list-style: none;
        &:before {
            font-family: Icons;
            content: "\f0da";
            margin: 0 .4rem 0 0;
            color: rgba(0, 0, 0, 0.5)
        }
    }
}

span.rxjs {
    padding: 1px 5px;
    border: 1px solid #ff00a5;
    border-radius: 3px;
    color: #ff00a5;
}

.embed-video {
    position: relative;
    padding-bottom: 155.75%;    
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    iframe {
        position: absolute;
        border: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

img {
    border-radius: 10px;
    width:100%;
}
img.w30 {
    width: 30px;
}
img.w50 {
    width: 50px;
}
img.w79 {
    width: 79px;
}
img.w100 {
    width: 100px;
}
img.w150 {
    width: 150px;
}
img.w200 {
    width: 200px;
}
img.w250 {
    width: 250px;
}
img.w300 {
    max-width: 300px;
}
img.w350 {
    max-width: 350px;
}
img.w400 {
    max-width: 400px;
}
img.w450 {
    max-width: 450px;
}
img.w500 {
    max-width: 500px;
}
img.w550 {
    max-width: 550px;
}

.counter {
    background: #f6f6f6;
    color: #494949;
    border-radius: 2px;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    font-weight: 500;
}
.operator {
    border: 1px solid #ff00a5;
    color: #ff00a5;
    border-radius: 2px;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    a {
        text-decoration: none;
    }
}
.post .content, .post.content {
    background-color: white;
    padding: 2.6em 2.9em;
    border-radius: 0.4em;
    h1 {
        font-size: 1.5em;
    }
    .embed-video {
        padding-bottom: 75.34%;
        margin-bottom: 1em;
    }
    .ui.card {
        width: 50%;
        margin: auto;
        margin-top: 3.5em;
        margin-bottom: 1.5em;
        .embed-video {
            padding-bottom: 155.75%;
            margin-bottom: 0em;
        }
    }
    .box {
        max-width:40px;
    }


    
    ul:not(.triangle) {
        background-color: #f7f7f7;
        padding: 0.5em 0em 0.5em 2em;
        
        border-radius: 0.4em;
        li {
            
            &:before {
                
                padding-right: 0.6em;
                font-size: 0.7em;
                color: #616161;
                left: -1em;
                display: block;  
                height: 0;  
                width: 0;  
                left: -1.5em;  
                top: 0.4em;  
                position: relative;
            }
        }
    }
    a {
        font-weight: normal;
        color: inherit;
    }
    strong {
        font-weight: 700;
    }
    p, ul, blockquote, pre {
        line-height: 1.6;
        font-size: 16px;
        font-weight: 400;
        color: #24403c;
    }
    blockquote {
        margin: 1.5em;
        text-align: center;
    }
    h2 {
        border-bottom: 1px solid rgba(0,0,0,0.08);
        margin-top: 2em;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        font-size: 1.3em;
        line-height: 1.125;
        letter-spacing: 0em;
    }
    h3 {
        font-weight: 700;
        font-size: 1.1em;
    }
    :not(pre) > code {
        padding: 2px 8px;
        font-size: 0.95em;
        border-radius: 3px;
        font-weight: 700;
        border: 1px solid rgba(96, 160, 152, 0.15);
        background-color: rgba(111, 225, 210, 0.06);
        font-style: normal;
        white-space: nowrap;
        &.one {
            border-radius: 10px;
            background-color: white;
            border: 1.4px solid #70e5d7;
            padding: 2px 6px;
        }
        &.two {
            background-color: white;
            border: 1.4px solid rgb(252, 215, 61);
        }
    }
    pre {
        background-color: #E9E9E9;
        white-space: pre-wrap;
        padding: 1em;
        border-radius: 0.5em;
        font-size: 14px;
        color: #4B4B4B;
    }
}

.post.content {
    margin: 1em 0 2.1em 0;
    text-align: center;
    padding: 2.6em 6em;
}

.ui.logo.label {
    margin: 0em 0 1em 4em;
    background-color: white;
    font-weight: 500;
    border: 1px solid #00b5ad;
    color: #00b5ad;
    text-decoration: none;
}

@media only screen and (max-width: 1140px) {
    .computer.only.ui.logo.label {
        display: none!important;
    }
}

a.ui.segment {
    text-decoration: none;
    font-size: 0.9em;
    color: inherit;
    font-weight: 500;
    display:block;
    small {
        font-size: 80%;
        font-weight: 300;
        padding-left: 1em;
        color: #ababab;
    }
}
.stripe {
    padding: 1.5em 0em;

    &:first-child {
        padding-top: 0;
    } 
    h2.ui.header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin-top: 0.25em;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        &.divider {
            margin-bottom: 0.3em;
        }
        small {
            font-size: 60%;
            font-weight: 300;
            padding-left: 1em;
        }
    }
    .ui.divider {
        opacity: 0.5!important;
    }
    .ui.cards>.card {
        margin-bottom: 0em;
        background: white;
        border: none;
        &.coming.soon {
            .image {
                background:rgba(189, 189, 189, 0.04);
            }
        }
        &.pop.out {
            background: linear-gradient(45deg, #3d97dc 0%, #55acee 40%, #00b5ad 100%);
             .header, .aka, .extra {
                color: white;
            }
        }
        &.dotted {
            border: 3px dashed rgba(139, 226, 208, 0.51);
            background-color: #fcfbfc;
        }
    }
    .ui.one.cards>.card {
        margin: 0;
    }
}

div.more {
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer {
    padding: 5em 2em!important;
    background-color:#f6f6f6!important;
    .logo.label {
        margin: 0em 0 0.2em 0em;
    }
    ul {
        padding: 0;
        margin-left: -8px;
        li {
            list-style: none;
            small {
                color: gray;
            }
        }
    }
}

.transparent.cards .card {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.micro.image {
    width: 10px!important;
    height: auto!important;
}

.twitter.icon {
    color: #1da1f2;
}

.attached.labels {
    >:first-child {
        padding-right: 2.5em;
    }
    .tag {
        margin-left: -1em;
    }
}
.block.flex {
    display: flex;
    .flex0 {
        flex: 0 0 auto;
    }
    .flex1 {
        flex: 1 1 auto;
    }
    .padded {
        padding-left: 10px;
    }
}

.sub.info {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    line-height: initial;
    font-weight: 100;
    padding-top:0.1em;
}

.author.block {
    .avatar.image {
        width: 3em;
        height: 3em;
    }
    a {
        color: #2f2f2f;
        text-decoration: none;
    }
}

.move.up {
    margin-top: -1.5em;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.input {
    display: flex;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    .button {
        margin-left: 0.5em;
    }
    input {
        background-color: #ffffff !important;
        border: 1px solid #a4a4a4 !important;
        flex: inherit !important;
        width: 100%;
        &:focus {
            border-color: #85b7d9;
    }
    }
}

.micro.twitter.button {
    font-size: 0.7em;
    padding: 0.35em 1em;
    box-shadow: none;
    border: 1px solid rgba(81, 177, 243, 0.38);
    color: #51b1f3 !important;    
    &:hover {
        box-shadow: none;
    }
}

.highlighted {
    background-color: #FFE888;
    padding: 3px 5px 4px 5px;
    border-radius: 2px;
    font-weight: 700;
}

.extra {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: rgba(0,0,0,.4);
}

.right.aligned {
    text-align: right;
}

.right.floated {
    float: right;
}

.post h2 .right.floated, .navigation .right.floated {
    color: rgba(0,0,0,.4);
    font-weight: 300;
    margin-top: 0.65em;
    font-size: 0.9rem;
}

.navigation.placeholder {
    padding-left: 7.75em;
}

.github.right.floated {
    font-size: 1.5rem;
    margin-top: 0.55rem;
    padding: 0.05em !important;
}

.light.header {
    &.weight {
        font-weight: 300!important;
        margin-top:0;
        margin-bottom:0;
    }
    &.color {
        color: rgba(0, 0, 0, 0.4);
    }
}

@media only screen and (max-width: 767px) {
    body {
        margin-top: 1em;
    }
    .mobile.overflow.x {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        // Fake right margin working on overflow:
        &:after {
            content: "";
            display: flex;
            min-width: 4%;
            height: initial;
        }
        .ui.card {
            min-width: 140px;
            @media only screen and (max-width: 767px) {
                & {
                    margin-bottom: 8px;
                    &:first-child {
                        margin-left: 6%!important;
                    }
                }
            }
            @media only screen and (max-width: 345px) {
                min-width: 125px;
            }
            @media only screen and (min-width: 450px) {
                min-width: 180px;
            }
            @media only screen and (min-width: 570px) {
                min-width: 230px;
            }
            @media only screen and (min-width: 700px) {
                min-width: 270px;
            }
        }
    }
    .post .content, .post.content {
        border-radius: 0;
        padding: 1em;
    }
    .footer {
        padding: 2em 0.1em!important;
        .ui.small.horizontal.list>.item {
            font-size: 0.7em!important;
        }
    } 
    .ui.card .meta.very.long {
        font-size: 0.66em;
    }
    .author.block {
        margin-left: 1em;
        .bio {
            font-size: 0.9em;
        }
        .avatar.image {
            margin-top: 0.25em;
            width: 2.3em;
            height: 2.3em;
        }
    }
    .computer.only {
        display: none!important;
    }
    .extra {
        font-size: 0.7em;
        margin-bottom: 0;
    }
    .tiny.button {
        font-size: .75rem!important;
    }
    .sub.info {
        font-size: 0.7em;
    }
    h1 {
        .button {
            font-size: 0.9rem !important;
            padding: 0.4em !important;
        }
    }
    h2.ui.header {
        font-size: 1.3rem;
        margin-bottom: 0.45em!important;
    }
    h3.header {
        font-size: 1rem;
    }
    .ui.cards {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .headlines {
        padding: 0 1em 1em 1em;
        margin-bottom: 0;
        h1.ui.header {
            margin-top: 0.6em;
            font-size: 1.6rem;
        }
        .button {
            font-size: 77%;
        }
    }
    .stripe {
        padding-top: 1.3em;
        h2.ui.header {
            border-bottom: none;
        }
    }
    h2, h3, h4, .mobile.center {
        text-align: center;
    }
    .block.flex {
        .padded {
            padding-left: 3px;
        }
    }
}
