_site
.sass-cache
.jekyll-metadata
.DS_Store
node_modules

lib/semantic/*
!lib/semantic/dist
lib/semantic/dist/*
!lib/semantic/dist/semantic.min.css
!lib/semantic/dist/themes
!lib/semantic/src
lib/semantic/src/*
!lib/semantic/src/themes
lib/semantic/src/themes/*
!lib/semantic/src/theme.config
!lib/semantic/src/themes/reactive.how
