---
id: index
layout: default
---


<div>
<a href="https://github.com/cedricss/reactive.how" target="_blank" class="ui black left corner medium label">
    <i class="github icon"></i>
</a>
</div>
<div>
    <a class="ui logo large label" href="http://reactive.how">reactive.how</a>
</div>
<div class="ui announcement block two centered cards doubling">
    <div class="ui card">
        <div class="content">
            <a class="ui medium ribbon label">starting soon</a>
            <h4 class="center aligned extra">
                <i class="announcement icon"></i> Upcoming series to <b>learn reactive programming</b>
            </h4>
            <h3 class="center aligned light weight header">
                    A new animated card <b>every Monday</b>
            </h3>
        </div>
        <div class="extra center aligned content">
            <a class="ui teal tiny button" href="#subscribe"><i class="mail icon"></i>Get updates + bonuses</a>
            <a class="ui twitter tiny button" href="https://twitter.com/CedricSoulas" target="_blank"><i class="twitter icon"></i>Follow</a>
        </div>
        <div class="extra content">
            <div class="right aligned">
                <a href="https://twitter.com/CedricSoulas">
                    <img class="ui avatar huge image" alt="Cédric Soulas" src="img/cedricsoulas.jpg">
                </a>
            </div>
        </div>
    </div>
</div>

{% for level in site.data.cards.levels %}
<div class="stripe">
    <h2 class="ui horizontal divider header">
        <span class="ui label">Level {{ forloop.index }}</span>
    </h2>
    {% for module in level.modules %}
    <h2 class="ui header">
        {{ module.name }}
    </h2>
    <div class="ui five cards doubling">
    {% for card in module.cards %}
    {% include card.html card=card %}
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}
<div class="stripe">
    <div class="ui divider"></div>
    <div class="ui two centered cards doubling">
        <div class="ui card">
            <div class="content">
                <div class="cta">
                    <h2 id="subscribe" class="ui center aligned header">Dive deeper into reactive programming</h2>
                    <h3 class="center aligned light weight header">
                        Get my upcoming email course,<br/>early updates and bonuses
                    </h3>
                    {% include email_form.html %}
                </div>
                <div class="extra content">
                    <div class="ui hidden divider"></div>
                    <div class="right aligned">
                        <a href="https://twitter.com/CedricSoulas">
                            <img class="ui avatar huge image negative margin" alt="Cédric Soulas" src="img/cedricsoulas.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stripe">
    <h2 class="ui horizontal divider header">
        <span class="ui label">
            <a class="item" href="https://github.com/cedricss/reactive.how" target="_blank">
                <i class="github icon"></i> Contribute to the next levels
            </a>
        </span>
    </h2>
</div>