---
id: index
layout: default
---

<div class="headlines">
    {% include author.html %}
    <h1 class="ui header">Animated cards to learn reactive&nbsp;programming</h1>
    <a class="ui fluid very long cta teal button" href="#subscribe"><i class="icon mail"></i> Receive a card every&nbsp;Monday</a>
</div>

{% for level in site.data.cards.levels %}
<div class="stripe mobile-center">
    <span class="ui tiny label">Level {{ forloop.index }}</span>
    {% for module in level.modules %}
    <h2 class="ui header">
        {{ module.name }}
    </h2>
    <div class="ui four cards mobile overflow x">
    {% for card in module.cards %}
    {% include card.html card=card %}
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}

<div class="stripe">
    <div class="headlines">
        <h2 id="subscribe" class="ui header">An animated card every&nbsp;Monday 🎉</h2>
        {% include email_form.html %}
        <ul class="smaller sub info">
            <li>An animated card every Monday (starting soon)</li>
            <li>Occasional bonus lessons and early news</li>
            <li>Easy to unsubscribe</li>
        </ul>
        <div class="ui divider"></div>
        {% include author.html %}
    </div>
</div>


