---
id: index
layout: default
---

<div class="headlines">
    {% include author.html %}
    <h1 class="ui header">Upcoming series to learn reactive programming</h1>
    <a class="ui tiny teal button" href="#subscribe"><i class="mail icon"></i>Get updates + bonuses</a>
    <a class="ui tiny twitter button" href="https://twitter.com/CedricSoulas" target="_blank"><i class="twitter icon solo mobile"></i>Follow</a>
</div>

{% for level in site.data.cards.levels %}
<div class="stripe mobile-center ">
    <span class="ui tiny label">Level {{ forloop.index }}</span>
    {% for module in level.modules %}
    <h2 class="ui aligned header">
        {{ module.name }}
    </h2>
    <div class="ui four cards mobile overflow x">
    {% for card in module.cards %}
    {% include card.html card=card %}
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}
<div class="stripe">
    <div class="ui one transparent cards doubling">
        <div class="ui card">
            <div class="content">
                <div class="cta">
                    <h2 id="subscribe" class="ui center aligned header">Dive deeper into reactive programming</h2>
                    <h3 class="center aligned light weight header">
                        Get my upcoming email course,<br/>early updates and bonuses
                    </h3>
                    {% include email_form.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="headlines">
    {% include author.html %}
    <div class="stripe">
        <a class="ui tiny twitter button" href="https://twitter.com/CedricSoulas" target="_blank">
            <i class="twitter icon solo mobile"></i> Follow
        </a>
        <a class="ui tiny github button" href="https://github.com/cedricss/reactive.how" target="_blank">
            <i class="github icon"></i> Contribute to the next levels
        </a>
    </div>
</div>



