<div class="flex author block">
    <div class="flex0">
        <a href="https://twitter.com/CedricSoulas">
            <img class="ui avatar image" alt="Cédric Soulas" src="/img/cedricsoulas.jpg">
        </a>
    </div>
    <div class="flex1 padded">
        <a href="https://twitter.com/CedricSoulas">Cédric Soulas</a>
        <a class="ui basic micro circular twitter button" href="https://twitter.com/CedricSoulas">
            <i class="twitter icon"></i> Follow</a>
        <div class="sub info">
            Motion graphics about programming
        </div>
    </div>
</div>