<div class="flex author block">
    <div class="flex0">
        <a href="https://twitter.com/CedricSoulas">
            <img class="ui avatar image" alt="Cédric Soulas" src="/img/cedricsoulas.jpg">
        </a>
    </div>
    <div class="flex1 padded">
        <a href="https://twitter.com/CedricSoulas">Cédric Soulas</a>
        <a class="ui basic micro circular twitter button" href="https://twitter.com/CedricSoulas">
            <i class="twitter icon"></i> Follow</a>
        <div class="sub info">
             I make motion graphics with RxJS. I code apps with JavaScript and Elm. <br/>I will be available for freelance work from mid-April 2018. <a href="#contact">Get in touch!</a>
        </div>
    </div>
</div>