<div class="ui card">
  <div class="content">
    {% if include.card.released %}
      <a class="ui red mini ribbon label">early preview</a>
      <div class="ui hidden divider"></div>
    {% endif %}
    <span class="header center aligned">{{ include.card.name }}</span>
    {% if include.card.aka %}
    <div class="meta center aligned">(aka <b>{{ include.card.aka }}</b>)</div>
    {% endif %}
  </div>
  <div class="image">
    {% if include.card.released %}
      <img src="img/{{ include.card.name | downcase }}.gif" />
    {% else %}
    <img src="img/empty.png" />
    {% endif %}
  </div>
  <div class="extra content">
    {% for type in include.card.type %}
    <img class="ui avatar mini image" src="/img/icons/{{ type }}.png">
    <span class="">{{ type }}</span>
    {% endfor %}
  </div>
</div>