<div class="stripe">
    <h2 class="ui header">
        Reactive programming episodes
    </h2>
    <h3>Starting on <a href="#subscribe">Monday, September 18</a> </h3>
    <div class="ui disabled segment">
        <h3>
            <i class="circle thin icon"></i> Episode 1 - Introduction to event&nbsp;streams
        </h3>
    </div>
</div>
<div class="stripe">
    <h2 class="ui header">
            Sneak peek!
    </h2>
    <h3>Animated cards from future episodes</h3>
    <div class="ui three cards mobile overflow x">
        {% include card_player.html video=232448029 %}
        {% include card_player.html video=232449782 %}
        {% include card_more.html %}
    </div>
</div>