<form action="//slashtype.us14.list-manage.com/subscribe/post?u=c22e7832272fe0663b822a283&amp;id=3a3df09a5e" method="post"
    name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div style="display:none">
        <strong>Occasional updates, plus:</strong>
        <ul><li><input type="checkbox" value="1" name="group[4017][1]" checked><label for="mce-group[4017]-4017-0">A gif about reactive programming — every Monday</label></li>
        </ul>
    </div>
    <div class="ui input">
        <input type="email" value="" name="EMAIL" class="email" placeholder="Email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_c22e7832272fe0663b822a283_3a3df09a5e" tabindex="-1" value="">
        </div>
        <button class="ui button teal" type="submit">
                Subscribe
        </button>
    </div>
</form>