<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    <form action="//slashtype.us14.list-manage.com/subscribe/post?u=c22e7832272fe0663b822a283&amp;id=3a3df09a5e" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <div style="display:none">
                    <strong>Occasional updates, plus:</strong>
                    <ul><li><input type="checkbox" value="1" name="group[4017][1]" id="mce-group[4017]-4017-0" checked><label for="mce-group[4017]-4017-0">A gif about reactive programming — every Monday</label></li>
                    </ul>
                </div>
                <div class="ui left icon input">
                    <i class="teal mail icon"></i>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_c22e7832272fe0663b822a283_3a3df09a5e" tabindex="-1" value="">
                    </div>
                
                </div>
                <button class="ui button teal" type="submit" id="mc-embedded-subscribe">
                        Subscribe
                </button>
            </div>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
