<div class="stripe">
{% for lesson in site.data.course.lessons reversed %}
<div class="content post">
    <h4 class="ui header">
        {% if forloop.index == 1 %}
        <span class="ui black mini label">NEW</span>
        {% endif %}
        <span class="counter">Episode {{ forloop.rindex }}</span>
        <span class="counter">{{ lesson.date }}</span>
    </h4>
    <h2 class="ui header">
        {{ lesson.name }}
    </h2>
    {% assign videos_size = lesson.videos | size %}
    {% if videos_size == 0 %}
    <img src="img/startWith/startWith.gif"/>
    {% elsif videos_size == 1 %}
    {% assign video = lesson.videos[0] %}
    {% include card_player.html video=video episode=false %}
    {% elsif videos_size == 2 %}
    {% assign video = lesson.videos[1] %}
    {% include card_player.html video=video episode=true %}
    {% endif %}
    <p>
    <a href="/{{lesson.card}}" class="ui basic button"><i class="file text outline icon"></i>Read <b>{{ lesson.name }}</b><i class="chevron right icon"></i></a>
    {% if forloop.index == 1 %}
    </p>
    <p>or start with <a href="/fromEvent" class=""> Episode 1 - Streams</a></p>
    {% endif %}
</div>
{% if forloop.index == 1 %}
{% include headlines.html %}
<h3 class="ui header">
Previous episodes
{% include social.html %}
</h3>
{% endif %}
{% endfor %}