<div class="ui vertical center aligned footer segment">
  <div class="ui container">
    <div class="ui horizontal small divided link list">
      <a class="item" href="https://twitter.com/CedricSoulas" target="_blank">Cédric Soulas © 2017</a>
      <a class="item" href="https://twitter.com/CedricSoulas" target="_blank">
        <i class="twitter icon"></i> Follow
      </a>
      <a class="item" href="https://github.com/cedricss/reactive.how" target="_blank">
        <i class="github icon"></i> Send feedback and issues
      </a>
      <a class="item" href="https://github.com/cedricss/reactive.how" target="_blank">
        <i class="plus icon"></i> Contribute to the next levels
      </a>
      <a class="item" href="CHANGELOG">
        <i class="newspaper icon"></i>
        Change log
      </a>
    </div>
  </div>
</div>