<div class="ui black inverted vertical footer segment">
  <div class="ui stripe container">
    <div class="ui stackable doubling grid">
      <div class="ui seven wide column">
        <span class="ui mini ribbon label red">starting soon</span>
        <h1 class="ui inverted header">The email course<div class="sub header">based on animated cards <i class="wizard icon"></i></div></h1>
        
        <div>
          <div class="ui hidden divider"></div>
          <h3 id="course">Learn reactive programming:</h3>
          {% include email_form.html %}
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="https://twitter.com/CedricSoulas" target="_blank">Cédric Soulas © 2017</a>
          <a class="item" href="https://twitter.com/CedricSoulas" target="_blank"><i class="twitter icon"></i>Follow</a>
          <a class="item" href="https://github.com/cedricss/reactive.how" target="_blank"><i class="github icon"></i>Send feedback, issues and PR</a>
        </div>
      </div>
    </div>
  </div>
</div>