<div class="ui vertical center aligned footer segment">
  <div class="ui container">
    <h1 class="ui header" id="contact">Contact</h1>
    <div>
      <ul>
        <li><a href="mailto:cedric.soulas@reactive.how"><i class="mail icon"></i> cedric.soulas@reactive.how</a></li>
        <li><a href="https://twitter.com/CedricSoulas"><i class="twitter teal icon"></i>@CedricSoulas </a><small>(my DMs are open)</small></li>
      </ul>
    </div>
    <div>
      <a class="ui large label" href="http://how.us14.list-manage.com/subscribe?u=c22e7832272fe0663b822a283&amp;id=3a3df09a5e">
        <i class="icon mail"></i> Receive occasional updates
      </a>
    </div>
    <div class="ui horizontal small divided link list">
      <a href="/" class="item">
        <i class="home icon"></i>reactive.how
      </a>
      <a class="item" href="https://github.com/cedricss/reactive.how">
        <i class="github icon"></i> Send feedback and issues
      </a>
    </div>
  </div>
</div>