<meta charset="UTF-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="Learn reactive programming with a new animated card every Monday." />
<meta property="og:url" content="http://reactive.how" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="A new animated card every Monday." />
<meta property="og:image" content="http://reactive.how/img/{{ page.preview_image }}" />
<meta property="og:site_name" content="Reactive.how" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@CedricSoulas" />
<meta name="twitter:creator" content="@CedricSoulas" />
<meta name="twitter:image:alt" content="Merge vs Combine reactive operator" />
<link rel="stylesheet" href="lib/semantic/dist/semantic.min.css" />
<link rel="stylesheet" href="css/main.css?v=5" />
<link rel="icon" type="image/png" href="img/favicon.png?v=2" >
<link rel="icon" type="image/x-icon" href="img/favicon.ico?v=2" >
<link rel="icon" sizes="64x64" href="img/favicon.icns?v=2" >
