<meta charset="UTF-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="Learn RxJS and Reactive Programming principles. Watch streams and JavaScript Observable in action. See how reactive operators work with those animated visualizations and lessons (eg. scan vs. reduce, combineLatest vs. zip, debounceTime vs. throttleTime...)." />
<meta property="og:url" content="http://reactive.how" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Focus on one new concept – every Monday" />
<meta property="og:image" content="http://reactive.how/img/{{ page.preview_image }}" />
<meta property="og:site_name" content="Reactive.how" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@CedricSoulas" />
<meta name="twitter:creator" content="@CedricSoulas" />
<meta name="twitter:image:alt" content="Merge vs Combine reactive operator" />
<link rel="stylesheet" href="/lib/semantic/dist/semantic.min.css" />
<link rel="stylesheet" href="/css/main.css?v=15" />
<link rel="icon" type="image/png" href="img/favicon.png?v=2">
<link rel="icon" type="image/x-icon" href="img/favicon.ico?v=2">
<link rel="icon" sizes="64x64" href="img/favicon.icns?v=2">