<div class="ui tab {% if include.active %}active{% endif %}" data-tab="v{{ include.version }}/{{ include.tab }}">
    <img style="max-width:420px" src="examples/{{ include.version }}/{{ include.tab }}.png">
    <pre>
"dependencies": {
    "rxjs": "{{ include.package }}",
    {% if include.version == "6.0" and include.tab == "dot-chaining" %}"rxjs-compat": "^6.0.0-beta.2",
    ...{% else %}...{% endif %}
}{% if include.tab == "pipeline" %}
"devDependencies": {
    "@babel/core": "^7.0.0-beta.42",
    "@babel/plugin-proposal-pipeline-operator": "^7.0.0-beta.42",
    ...
}{% endif %}
</pre>
    <div class="link">
        <i class="github inverted icon"></i>
        <a href="https://github.com/cedricss/reactive.how/tree/master/rxjs/examples/{{ include.version }}">Sources on Github</a>
    </div>
</div>