<div class="ui stackable mobile reversed grid">

    <div class="seven wide column">
        <div class="row">{% if include.version == "5.0" %}
            <div class="ui blue message">
                <h4>Legacy dot-chaining operators
                    <span class="ui right floated">🗝️</span>
                </h4>
                <p>In RxJS 5.0 and before, we only had dot-chaining operators. Already feeling nostalgic?</p>
            </div>{% endif %}{% if include.version == "5.5" %}
            <div class="ui blue message">
                <h4>Hello pipeable operators!
                    <span class="ui right floated">🎉</span>
                </h4>
                <p>RxJS 5.5 introduced
                    <a href="/rxjs/pipeable-operators">pipeable operators</a>. In particular, you can easily build custom and reusable operators! Open the
                    <i>pipe method</i> tab and look at the custom
                    <code>draw</code> operator.
                </p>
            </div>{% endif %}{% if include.version == "5.6" %}
            <div class="ui blue message">
                <h4>Optional milestone
                    <span class="ui right floated">⛱️</span>
                </h4>
                <p>RxJS 5.6 is meant to
                    <a href="https://goo.gl/osWFzo">ease the upgrade to 6.0</a>. This is a short-term option.
                </p>
            </div>{% endif %}{% if include.version == "6.0-compat" %}
            <div class="ui blue message">
                <h4>Compatibility package
                    <span class="ui right floated">🎁</span>
                </h4>
                <p>
                    Install the
                    <code>rxjs-compat</code> package to keep on using dot-chaining operators and deprecated APIs with v6.
                </p>
            </div> {% endif %}{% if include.version == "6.0" %}
            <div class="ui blue message">
                <h4>Goodbye dot-chaining operators
                    <span class="ui right floated">👋</span>
                </h4>
                <p>
                    The legacy dot-chaining operators no longer exist in v6. And there are several
                    <a href="https://goo.gl/osWFzo">API changes</a>.
                </p>
            </div>{% endif %}
            <h4>📦 package.json</h4>
            <pre class="package">
"dependencies": {
    "rxjs": "{{ include.package }}",
    {% if include.version == "6.0-compat" %}"rxjs-compat": "^6.0.0-tactical-rc.1",
    ...{% else %}...{% endif %}
}{% if include.tab == "pipeline" %}
"devDependencies": {
    "@babel/core": "^7.0.0-beta.42",
    "@babel/plugin-proposal-pipeline-operator": "^7.0.0-beta.42",
    ...
}{% endif %}</pre> {% if include.version == "6.0" or include.version == "6.0-compat" or include.version == "5.6" or include.version
            == "5.5" %}
            <h4>
                <i class="computer only icon align justify"></i> Pipeable operators
            </h4>
            Use the
            <a href="/rxjs/pipeable-operators">pipe method</a> built into
            <code>Observable</code>. Optionally, import the
            <a href="/rxjs/pipeable-operators">pipe function</a> to build custom and reusable operators from other pipeable operators.
            <h4>🌳 Imports, build and treeshaking</h4>
            Pipeable operators can be imported from
            <code>rxjs/operators</code>. You should
            <a href="https://github.com/ReactiveX/rxjs/blob/master/doc/pipeable-operators.md#build-and-treeshaking">update your bundling tools and configuration</a> to avoid larger application bundles.
            <h4>⚗️ JavaScript pipeline operator</h4>
            Try the experimental
            <a href="http://reactive.how/pipeline-operator">JavaScript pipeline operator with babel</a> if you dare. This proposal is still at an early stage. {% endif %}

        </div>
    </div>
    <div class="nine wide column">
        <div class="row code">
            <div class="window">
                <img src="/img/window.png" />
            </div>
            <div class="ui pointing secondary menu">
                {% if include.version != "5.0" %}
                <a class="item active" data-tab="v{{ include.version }}/pipe-method">
                    <i class="computer only icon align justify"></i> pipe method</a>
                {% endif %} {% if include.version != "6.0" %}
                <a class="item" data-tab="v{{ include.version }}/dot-chaining">
                    <i class="computer only icon list ul"></i> dot-chaining</a>
                {% endif %} {% if include.version != "5.0" %}
                <a class="item" data-tab="v{{ include.version }}/pipeline">
                    <i class="flask icon"></i> pipeline</a>
                {% endif %}
            </div>
            {% if include.version != "5.0" %}{% include rxjs_code_tab.html version=include.version pipeline=include.pipeline package=include.package
            compat=include.compat tab="pipe-method" active=true %} {% endif %} {% if include.version != "6.0" %} {% include
            rxjs_code_tab.html version=include.version pipeline=include.pipeline package=include.package compat=include.compat
            tab="dot-chaining" %} {% endif %} {% if include.version != "5.0" %} {% include rxjs_code_tab.html version=include.version
            pipeline=include.pipeline package=include.package compat=include.compat tab="pipeline" %} {% endif %}
        </div>
        <small>This is the source code of the demo in
            <a href="/pipeline-operator">Episode 27</a>.
            <br/> Read the full tutorial:
            <a href="/rxjs/pipeable-operators">Episode 30 - Pipeable operators</a>.
            <br/>
        </small>
        <br/>
        <a class="ui tiny pink button" href="/">
            <i class="block layout icon"></i> Browse all episodes
        </a>
    </div>
</div>