<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="ui main text container {{ page.class }}">
            {% include author.html %}
            {% if page.class == 'post' %}
            <h3 class="ui header move up">
            &nbsp;
            {% include social.html %}
            </h3>
            {% endif %}
            <div class="content">
                {% if page.class == 'post' %}
                {% include navigation.html %}
                {% assign lesson_index = page.lesson | minus:1 %}
                {% assign lesson = site.data.course.lessons[lesson_index] %}
                <h2>
                    Episode {{ page.lesson }} - {{ lesson.name }}
                    <span class="computer only right floated">{{ lesson.date }}</span>
                </h2>
                {{ content }}
                {% include navigation.html %}
                {% else %}
                {{ content }}
                {% endif %}
            </div>
            <div id="subscribe">
                {% include headlines.html %}
            </div>
            <div class="stripe">
                {% include author.html %}
            </div>
        </div>
        <footer>
            {% include footer.html %}
        </footer>
        {% include scripts.html %}
    </body>
</html>
