<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div>
            <a href="https://github.com/cedricss/reactive.how" target="_blank" class="ui black left corner medium label computer only">
                <i class="github icon"></i>
            </a>
        </div>
        <div>
            <a class="ui logo large label computer only" href="http://reactive.how">reactive.how</a>
        </div>
        <div class="ui main text container">
            <div class="headlines">
                {% include author.html %}
                <h1 class="ui header">{{ page.title }}</h1>
                <a class="ui fluid limited width very long cta teal button" href="#subscribe"><i class="icon mail"></i> Receive a card every&nbsp;Monday</a>
            </div>
            {{ content }}
            <div class="stripe">
                <div class="headlines">
                    <div class="cta">
                        <h6 id="subscribe" class="ui center aligned light color uppercase header">starting soon</h6>
                        <h1 class="ui header center aligned">An animated card<br/>every&nbsp;Monday</h1>
                        {% include email_form.html %}
                        <ul class="smaller sub info">
                            <li>An animated card every Monday (starting&nbsp;soon)</li>
                            <li>Occasional bonus lessons and early updates</li>
                            <li>Easy to unsubscribe</li>
                        </ul>
                    </div>
                    <div class="ui divider"></div>
                    {% include author.html %}
                </div>
            </div>
            {% if page.more %}
            <div class="more mobile center">
                <a class="ui mini basic button" href="more.html">
                    Preview more levels...
                </a>
            </div>
            {% endif %}
        </div>
        <footer>
            {% include footer.html %}
        </footer>
        {% include scripts.html %}
    </body>
</html>
